* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	-ms-overflow-style: none; /* Internet Explorer 10+ */
	scrollbar-width: none; /* Firefox */
}
*::-webkit-scrollbar {
	display: none; /* Safari and Chrome */
}
#canvas {
	width: 100vw;
	min-height: 100vh;
	/* background-color: red; */
	object-fit: cover;
}
#header-title {
	position: fixed;
	z-index: 2;
	color: white;
	font-size: 5rem;
	right: 20%;
	bottom: 40%;
	transform: translate(-20%, -40%);

	text-shadow: 0 0 5px #fff, 0 0 9px #f8565686, 0 0 10px #ff4d4da2, 0 0 25px #ff4d4db2, 0 0 30px #ff4d4d9a, 0 0 8px #ff4d4d9f, 0 0 11px #ff4d4da6;
}
.details {
	height: 70vh;
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 3rem;
}
